.App {}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.margin-add{
  margin-left: 25px;
}

.experience-back {
  padding: 10px 15px;
  border-radius: 20px;
}

.experience-back a {
  margin: 20px 0 0 0;
  color: #cc3300;
  font-size: 16px;
  font-weight: 600;
}

.nav {
  display: flex;
}

.App-intro {
  font-size: large;
}

.Fav-artist {
  background-color: grey;
}

.Artist-Pic {
  width: 150px;
  border-radius: 50%;
}

.Album-Pic {
  width: 150px;
  border-radius: 10%;
}

.Profile-Pic{
  padding: 10px;
  border-radius: 10%;
}


.center {
  text-align: center;
}

.column label {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

canvas {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #d0021b;
}

l {
  padding: 0;
}

li {
  list-style-type: none;
}

.space-list-items {
  margin-bottom: 7px;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 15px;
}

.beside {
  display: inline;
}

.doubletest {
  display: flex;
}

.typewriter h2 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}


/* The typing effect */

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: orange;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*Skills */

.my-skills {
  background: #ff9966;
  padding: 60px 0;
  text-align: center;
  border-radius: 20px;
}

.my-skills i {
  font-size: 70px;
}

.my-skills h3 {
  margin: 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}

.skill-grids {
  margin-top: 50px;
}

.skills-grid p {
  margin: 20px 0 0 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.circle {
  color: #ffffff;
  font-size: 36px;
}

.box{
  border:1px solid;
}

figcaption {
  margin-top: 5px;
  color: #ffffff;
}

figcaption-black {
  margin-top: 5px;
  color: #111;
}

figure {
  margin: 30px;
  display: inline-block;
}

span.circles-number {
  font-size: 36px;
}

span.circles-text {
  font-size: 36px;
}

.circles-text-wrp {
  line-height: 142px !important;
}

/* Contact */

.my-contact {

  text-align: center;

}

.my-contact i {
  font-size: 70px;
}

.my-contact h3 {
  margin: 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}

/*Experience*/
.my-experience {
  background: #668cff;
  padding: 60px 0;
  border-radius: 20px;
}

.my-experience h3 {
  margin: 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
}

.my-experience img {
  width: 150px;
  border-radius: 10%;
}

/*Project Experience*/
.my-proj-experience {
  background: #668cff;
  padding: 60px 0;
  border-radius: 20px;
}

.my-proj-experience h3 {
  margin: 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
}

.my-proj-experience img {
  width: 150px;
  border-radius: 10%;
}

.change {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

#resume {
  width: 70%
}
