.App {}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.nav {
  display: flex;
}

.App-intro {
  font-size: large;
}

.Fav-artist {
  background-color: grey;
}

.Artist-Pic {
  width: 150px;
  border-radius: 50%;
}

.Album-Pic{
  width: 150px;
  border-radius: 10%;
}

.test {
  width: 150px;
}

.center {
  text-align: center;
}

.column label {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

canvas {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #d0021b;
}

l {
  padding: 0;
}

li {
  list-style-type: none;
}

.space-list-items {
  margin-bottom: 7px;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.beside {
  display: inline;
}

.doubletest{
  display: flex;
}


.typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

#element2 {display:inline-block;}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
